:root {
    --green1: #C3F040;
    --green2: #88BC07;
    --green3: #08AC2B;
    --green4: #078E22;
    --green5: #234A42;
    --blanco: #FFFFFF;
    --gris: #F1F1F1;
}

.aboutUs {
    position: absolute;
    width: 100%;
    height: 100vh;
    margin-top: 100vh;
    display: grid;
    grid-template-columns: 45vw 55vh;
}

.rightCircle {
    display: grid;
    place-content: center;
}

.outterCircle {
    width: 40vw;
    height: 40vw;
    margin: auto;
    border: 3px solid var(--green2);
    border-radius: 100%;
    animation: rotation 20000ms linear infinite;
}

.dot1 {
    width: 2.5vw;
    height: 2.5vw;
    margin-left: 10.5rem;
    border-radius: 100%;
    background-color: var(--green2);
}

.dot2 {
    width: 1.5vw;
    height: 1.5vw;
    background-color: var(--green2);
    margin-left: 32.3rem;
    margin-top: 24.5rem;
    border-radius: 100%;
}

.innerCircle {
    position: absolute;
    margin-top: -29vw;
    margin-left: 2.2vw;
    width: 35vw;
    height: 35vw;
    box-shadow: inset 0 0 1vw rgba(0, 0, 0, 0.9);
    border-radius: 100%;
    background-color: var(--green3);

}

.innerCircle::after {
    content: "";
    position: absolute;
    margin-top: 1vw;
    margin-left: 1vw;
    width: 33vw;
    height: 33vw;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    background-color: var(--green2);
}

.innerImg {
    position: absolute;
    margin-top: .5rem;
    margin-left: 6.5rem;
    display: grid;
    place-content: center;
}

.innerImg>img {
    height: 32vw;
    width: 32vw;
    margin-top: 3rem;
    margin-left: -.7rem;
    object-fit: cover;
    border-radius: 100%;
}

.leftInfo {
    margin-top: 5rem;
    margin-left: 5rem;
}

.aUtitle1 {
    font-size: 3rem;
    color: var(--green3);
    font-family: 'Roboto regular';
}

.aUtitle2 {
    font-size: 3.5rem;
    color: var(--green3);
    font-family: 'Roboto black';
    margin-top: -2rem;
}

.aUTitleLine {
    width: 4.5rem;
    height: 1rem;
    border-bottom: 4px solid var(--green3);
}

.aUquote {
    margin-top: 2rem;
    text-align: justify;
    width: 40vw;
    font-size: 1rem;
    color: grey;
}

.aUsection2 {
    margin-top: 5rem;
}

.autitle2 {
    position: absolute;
    margin-left: 7rem;
    font-size: 1.5rem;
    font-family: 'Roboto black';
    color: var(--green3);
}

.aUicons {
    width: 50vw;
    height: 50vh;
    position: absolute;
    margin-top: -3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10vw, 1fr));
    place-content: center;
}

.aUicon {
    position: relative;
    width: 120px;
    height: 120px;
    background-color: var(--green5);
    border-radius: 35px;
    display: grid;
    place-content: center;
}

.aUiconImg {
    position: relative;
    width: 70px;
    height: auto;
    object-fit: contain;
    margin: auto;
}

.iconTitle {
    position: relative;
    margin-top: -5rem;
    font-family: 'Roboto black';
    font-size: 1.5rem;
    color: var(--blanco);
}

.bottomDivider {
    width: 100vw;
    height: auto;
    margin-top: -70vh;
}

@media screen and (max-width: 600px) {
    .aboutUs {
        margin-top: 300vh;
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        padding:0;
    }

    .rightCircle{
        display: grid;
        place-content: center;
        margin: auto;
    }

    .outterCircle {
        margin-top: -17vh;
        width: 80vw;
        height: 80vw;
        border: 4px solid var(--green2);
        display: grid;
        place-content: center;
    }

    .dot1 {
        position: absolute;
        width: 5vw;
        height: 5vw;
        margin-left: 20.5vw;
    }

    .dot2 {
        position: absolute;
        width: 3vw;
        height: 3vw;
        margin-top: 30vh;
        margin-left: 80vw;
    }

    .innerCircle {
        position: absolute;
        width: 70vw;
        height: 70vw;
        margin-top: 2vh;
        margin-left: 4vw;
    }

    .innerCircle::after {
        width: 65vw;
        height: 65vw;
        margin-top: 1.5vh;
        margin-left: 2vw;
    }

    .innerImg {
        position: absolute;
        width: 60vw;
        height: 60vw;
        margin-left: 10vw;
        margin-top: -12vh;
    }

    .innerImg>img {
        width: 60vw;
        min-height: 60vw;
        object-fit: fill;
        margin: auto;
    }

    .leftInfo {
        margin: auto;
    }

    .aUtitle1 {
        font-size: 2rem;
    }

    .aUtitle2 {
        margin-top: -1rem;
        font-size: 2rem;
    }

    .aUquote {
        width: 90vw;
        font-size: .8rem;
        text-align: justify;
    }

    .aUsection2{
        margin-top: 2rem;
    }

    .autitle2{
        margin: auto;
        text-align: center;
    }

    .aUicons{
        padding-top: 50vh;
        position: relative;
        margin: auto;
        grid-template-columns: 1fr;
        gap: 5rem;
        place-content: center;
    }

    .aUicon{
        margin: auto;
        display: grid;
        place-content: center;
    }

    .iconTitle {
        margin-top: -15vh;
    }
    
    .bottomDivider{
        border-bottom: solid 500px var(--green4);
    }
}

@media screen and (min-width: 601px) and (max-width:960px){
    .aboutUs{
        position: absolute;
        margin-top: 72vh;
        grid-template-columns: repeat(auto-fit, minmax(50vw, 1fr));
    }

    .outterCircle{
        width: 40vw;
        height: 40vw;
    }

    .dot1{
        margin-left: 7rem;
    }

    .dot2{
        margin-top: 44vh;
        margin-left: 32vw;
    }

    .innerCircle{
        width: 36vw;
        height: 36vw;
        margin-top: -33.5vw;
        margin-left: 1.5vw;
    }

    .innerCircle::after{
        width: 34vw;
        height: 34vw;
    }

    .innerImg{
        width: 30vw;
        height: 30vw;
        margin-top: 15vh;
        margin-left: 10.5vw;
    }

    .innerImg >img{
        width: 33vw;
        min-height: 25vw;
        object-fit: fill;
    }

    .leftInfo{
        margin-left: 0;
    }

    .aUtitle1{
        font-size: 2rem;
        text-align: start;
    }

    .aUtitle2{
        font-size: 2.2rem;
        text-align: start;
        margin-top: -2vh;
    }

    .aUquote{
        width: 40vw;
    }

    .autitle2{
        margin-left: -20vw;
    }

    .aUicons{
        width: 100vw;
        margin-top: -5vh;
        margin-left: -43vw;
    }

    .iconTitle{
        color: white;
        font-size: 1rem;
    }

    .bottomDivider{
        margin-top: -18vh;
    }
}

@media (min-width: 961px){
    
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}