:root {
    --green1: #C3F040;
    --green2: #88BC07;
    --green3: #08AC2B;
    --green4: #078E22;
    --green5: #234A42;
    --blanco: #FFFFFF;
    --gris: #F1F1F1;
}

.contactUs {
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin-top: 305vh;
    background-color: var(--green4);
    z-index: 0;
}

.contactTitle {
    position: absolute;
    color: var(--green1);
    font-size: 3rem;
    font-family: 'Roboto black';
    margin-top: 1vh;
    margin-left: 10vw;
    z-index: 90;
}

.contactTitleLine {
    width: 4.5rem;
    height: 1rem;
    margin-top: 6rem;
    margin-left: 10vw;
    border-bottom: 4px solid var(--green1);
}

.contactContent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.contactLeft {
    margin-top: 6vh;
    margin-left: 10vw;
}

.contactForm {
    width: 30vw;
    height: 25vw;
    padding: 2vw;
    background-color: var(--green3);
    border: 1px solid var(--green2);
    border-radius: 20px;
    box-shadow: 1vw 1vw 1vw rgba(1, 1, 1, .1);
}

.btn.btnContact{
    margin-left: 7vw;
    padding: 0.5rem 3rem;
    font-size: .8rem;
    font-family: 'Roboto black';
    color: var(--green2);
    background-color: var(--green5);
    border-radius: 20px;
    text-align: center;
    box-shadow: .5vw .5vw .5vw rgba(1, 1, 1, .3);
}

.btn.btnContact:hover{
    color: var(--green5);
    background-color: var(--green2);
    box-shadow: inset 1vw 1vw 2vw rgba(1, 1, 1, .3);
}

.contactRight {
    margin-top: 6vh;
    margin-right: 10vw;
}

.quoteContact{
    text-align: justify;
    font-family: 'Roboto regular';
    font-size: .8rem;
    color: var(--blanco);
}

.mapContent{
    margin-top: 2vw;
    width: 40vw;
    height: 35vh;
}

.mapContent iframe{
    width: 100%;
    height: 100%;
}

.contactCards{
    margin-top: 2vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
}

.contentCard{
    width: 20vw;
    margin-top: 2vh;
    padding-left: 2vw;
    color: var(--blanco);
    font-size: 0.8rem;
    border-left: solid 2px var(--green2);
}

.blogSuscribe{
    margin-top: 6vh;
    margin-left: 30vw;
    width: 35vw;
    height: 10vh;
    padding-top: 0;
    border-radius: 25px;
    background-color: var(--green2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.blogImgCont{
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: -28vw;
    background-color: var(--green1);
    border-radius: 20px;
    box-shadow: 0vw 0vw 1vw rgba(1, 1, 1, .5);
    display: grid;
    place-content: center;
}

.blogImgCont img{
    margin-top: 0vh;
    margin-left: 0vw;
    width: 30px;
    height: auto;
    object-fit: contain;
}

.labelInputBlog{
    margin-top: 0vh;
    margin-left: 7vw;
    width: 10vw;
    color: var(--blanco);
    font-family: 'Roboto regular';
    font-size: 1rem;
}

.blogForm{
    width: 15vw;
    margin-left: 1vw;
}


@media (min-width: 961px){

    .blogSuscribe{
        margin-top: 3vh;
    } 
}

@media screen and (min-width: 601px) and (max-width:960px){
    .contactUs{
        margin-top:380vh;
        height: auto;
    }

    .contactTitle{
        font-size: 2rem;
        text-align: center;
    }

    .contactTitle{
        margin-top: 3rem;
    }

    .contactContent{
        grid-template-columns: repeat(1fr);
    }

    .contactLeft{
        margin-top: 6vh;
        margin-left: 5vw;
        margin-right: auto;
    }

    .contactForm{
        margin: auto;
        width: 90vw;
        height: 50vh;
        padding: 5vw;
    }

    .btn.btnContact{
        margin-left: 15vw;
    }

    .contactRight{
        margin: 6vh 0vw;
    }

    .quoteContact{
        width: 90vw;
        height: auto;
        margin-left: 5vw;
    }

    .mapContent{
        margin: 5vw;
        max-width: 90vw;
        width: 90vh;
    }
    
    .contactCards{
        grid-template-columns: 1fr;
    }

    .contentCard{
        margin: 5vw;
        width: 90vw;
    }

    .blogSuscribe{
        width: 90vw;
        margin-top: -5vh;
        margin-left: 5vw;
    }

    .blogImgCont{
        margin-left: -70vw;
    }

    .labelInputBlog{
        width: 20vw;
        margin-left: 15vw;
        font-size: 0.7rem;
    }

    .blogForm{
        width: 40vw;
        margin-left: 5vw;
    }


}

@media screen and (max-width: 600px){
    .contactUs{
        height: 180vh;
        margin-top: 570.7vh;
    }

    .contactTitle{
        font-size: 2rem;
        text-align: center;
    }

    .contactTitle{
        margin-top: 3rem;
    }

    .contactContent{
        grid-template-columns: repeat(1fr);
    }

    .contactLeft{
        margin-top: 6vh;
        margin-left: 5vw;
        margin-right: auto;
    }

    .contactForm{
        margin: auto;
        width: 90vw;
        height: 50vh;
        padding: 5vw;
    }

    .btn.btnContact{
        margin-left: 15vw;
    }

    .contactRight{
        margin: 6vh 0vw;
    }

    .quoteContact{
        width: 90vw;
        height: auto;
        margin-left: 5vw;
    }

    .mapContent{
        margin: 5vw;
        width: 90vw;
        width: 40vh;
    }
    
    .contactCards{
        grid-template-columns: 1fr;
    }

    .contentCard{
        margin: 5vw;
        width: 90vw;
    }

    .blogSuscribe{
        width: 90vw;
        margin-top: -5vh;
        margin-left: 5vw;
    }

    .blogImgCont{
        margin-left: -70vw;
    }

    .labelInputBlog{
        width: 20vw;
        margin-left: 15vw;
        font-size: 0.7rem;
    }

    .blogForm{
        width: 40vw;
        margin-left: 5vw;
    }

}