:root{
    --green1: #C3F040;
    --green2: #88BC07;
    --green3: #08AC2B;
    --green4: #078E22;
    --green5: #234A42;
    --blanco: #FFFFFF;
    --gris: #F1F1F1;
}

.wpButton{
    position: absolute;
    z-index: 99;
}

.fixed-bottom{
    margin-bottom: 2vh;
}

.navbar{
    background-color: var(--green3);
    border-radius: 0 0 5vw 0 ;
    z-index: 1;
}

.navbar .navbar-brand{
    font-family: 'Kusanagi';
    color: var(--green1);
    font-size: 1rem;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    padding-left: 0vw;
}

.navbar .navbar-brand:hover{
    color: white;
}

.navbar .navbar-brand:visited{
    color: var(--green1);
}

.navbar-collapse .nav-link{ 
    color: white;
    font-family: 'Roboto regular';
}

.navbar-collapse .nav-link:hover{ 
    color: var(--green2);
}

.nav-item{
    padding-right: 5vh;
}

.nav-link>a{
    padding-right: 2vw;
}

.hero{
    position:absolute;
    width: 100vw;
    height: 100vh;
    margin-top: 1.8vh;
    background-color: var(--blanco);
}

.hero-content{
    width: 100vw;
    height: 100vh;
    margin-top: 2vh;
    position: absolute;
    border-radius: 10vw 0 0 0;
    background-color: white;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
}

.brandName{
    font-family:'Roboto black';
    color: rgb(0,142,3);
    padding-left: 5vw;
    padding-top: 49vh;
    margin-top: -10vh;
}

.quote{
    width: 30vw;
    height: 20vh;
    padding-left: 5vw;
    color: rgb(129, 129, 129);
    font-family: 'Roboto regular';
    font-size: 1vw;
    background-color: transparent;
}

.social{
    position: absolute;
    z-index: 1;
    display: flexbox;
    gap: 1vw;
    width: 4.5vw;
    height: 20vh;
    margin-top: -35vh;
    margin-left: 93.5vw;
    border-radius: 2vw 0 0 2vw;
    background-color: rgb(0,142,3);
    padding: 1vw 1vw 1.5vw 1.5vw;
    box-shadow: 1vw 1vw 1vw rgb(129, 129, 129);
}

.social >a{
    color: rgb(195, 240,64);
    font-size: 2vw;
}

.social >a:hover{
    color: rgb(195, 240,64);
    transform: scale(1.3);
}

.carouselHero{
    background-color: transparent;
    display: grid;
    padding: 5vw 1vw 1vw 1vw;
    max-width: 50vw;
    max-height: 60vh;
    margin-top: 5vh;
    margin-left: 38vw;
    border-radius: 0 0 10vw 10vw;
    box-shadow:  inset 0em 0em 0em rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.carousel-inner{
    position: absolute;
    width: 100%;
    height: auto;
    object-fit: fill;
    z-index: 1;
    border-radius: 0 0 9vw 9vw;
}

.botonHero{
    margin-left: 5vw;
    font-family: 'Roboto black';
}

.botonHero .btn-success{
    padding: 0.5vw 3vw;
    background-color: rgb(0,142,3);
    border-radius: 2vw;
}

.botonHero > a:hover{
    background-color: rgb(0,142,3);
    transform: scale(1.2);
}
@media screen and (min-width: 961px) {
    .navbar .navbar-brand{
        font-family: 'Kusanagi';
        color: rgb(195, 240,64);
        font-size: 2.2vw;
        padding-top: 1.5vh;
        padding-bottom: 1.5vh;
        padding-left: 0vw;
    }
    
    .navbar .navbar-brand:hover{
        color: white;
    }
    
    .navbar-collapse .nav-link{ 
        color: white;
        font-family: 'Roboto regular';
    }
    
    .navbar-collapse .nav-link:hover{ 
        color: rgb(195, 240,64);
    }
    
    .nav-item{
        padding-right: 5vh;
    }
    
    .nav-link>a{
        padding-right: 2vw;
    }
    
    .hero{
        width: 100vw;
        height: 100vh;
        position: absolute;
        background-color: var(--green3);
    }
    
    .hero-content{
        margin-top: 10.5vh;
        width: 100vw;
        height: 100vh;
        position: absolute;
        border-radius: 10vw 0 0 0;
        background-color: var(--blanco);
        padding-left: 2.5vw;
        padding-right: 2.5vw;
    }
    
    .brandName{
        font-family:'Roboto black';
        color: rgb(0,142,3);
        padding-left: 5vw;
        padding-top: 30vh;
        margin-top: -10vh;
        font-size: 4vw;
    }
    
    .quote{
        width: 30vw;
        height: 20vh;
        padding-left: 5vw;
        color: rgb(129, 129, 129);
        font-family: 'Roboto regular';
        font-size: 1vw;
        background-color: transparent;
    }
    
    .social{
        display: flexbox;
        gap: 1vw;
        width: 4.5vw;
        height: auto;
        margin-top: -50vh;
        margin-left: 93vw;
        border-radius: 2vw 0 0 2vw;
        background-color: rgb(0,142,3);
        padding: 0.5vw 1vw 1.5vw 0.5vw;
        box-shadow: 1vw 1vw 1vw rgb(129, 129, 129);
    }
    
    .social >a{
        color: rgb(195, 240,64);
        font-size: 1.5vw;
    }
    
    .social >a:hover{
        color: rgb(195, 240,64);
        transform: scale(1.3);
    }
    
    .carouselHero{
        display: grid;
        place-content: center;
        padding: 1vw;
        max-width: 50vw;
        max-height: 70vh;
        margin-top: -51.5vh;
        margin-left: 38vw;
        border-radius: 0 0 10vw 10vw;
        box-shadow: inset 0em 0em 1em rgba(0, 0, 0, 0.5);
        z-index: -1;
    }
    
    .carousel-inner{
        width: 90%;
        height: auto;
        object-fit: cover;
        border-radius: 0 0 9vw 9vw;
    }
    
    .botonHero{
        margin-top: -10vh;
        margin-left: 5vw;
        font-family: 'Roboto black';
    }
    
    .botonHero .btn-success{
        padding: 0.5vw 3vw;
        background-color: rgb(0,142,3);
        border-radius: 2vw;
    }
    
    .botonHero > a:hover{
        background-color: rgb(0,142,3);
        transform: scale(1.2);
    }
}

@media screen and (max-width: 960px) and (min-width: 601px) {


    .navbar .navbar-brand{
        margin-left: 3vw;
        font-size: 2.2vw;
    }

    .hero{
        background-color: var(--blanco);
    }

    .hero-content{
        position: absolute;
        height: 80vh;
        margin-top: 6.5vh;
        z-index: 1;
    }

    .carouselHero{
        margin-top:-28rem;
        margin-left: 30vw;
        width: 60vw;
        max-height: 70vh;
        display: grid;
        place-content: center;
        box-shadow:  inset 0em 0em 1em rgba(0, 0, 0, 0.5);
    }

    .carousel-inner{
        border-radius: 0 0 60px 50px;
    }

    .brandName{
        position: relative;
        margin-left: -6vh;
        margin-top: -10rem;
        font-size: 5vw;
    }

    .social{
        position: absolute;
        z-index: 1;
        gap: 1vw;
        width: 5vw;
        height: auto;
        margin-top: -25vh;
        margin-left: 84vw;
        border-radius: 2vw 0 0 2vw;
        background-color: rgb(0,142,3);
        box-shadow: 1vw 1vw 1vw rgb(129, 129, 129);
    }

    .social>a{
        margin-left: -1rem;
        font-size: 1rem;
    }

    .quote{
        position: relative;
        width: 14rem;
        margin-top: 1vh;
        margin-left: -6vw;
        font-size: 1.3vw;
        text-align: justify;
    }

    .botonHero{
        margin-top: 4rem;
        margin-left: 33vw;
        font-family: 'Roboto black';
    }

    .botonHero >a{
        font-size: 3vw;
    }
}

@media screen and (max-width: 600px) {

    .navbar{
        max-width: 100vw;
        border-radius: 0 0 5vw 0;
    }

    .navbar .navbar-brand{
        font-family: 'Kusanagi';
        color: var(--green1);
        font-size: 5vw;
        padding-top: 2.5vh;
        padding-bottom: 2.5vh;
        padding-left: 0vw;
    }

    .hero{
        position: absolute;
        background-color: var(--green3);
    }

    .hero-content{
        margin-top: -1rem;
        position: absolute;
        display: flexbox;
    }

    .brandName{
        margin-top: 5rem;
        position: relative;
        font-size: 1.5rem;
    }

    .quote{
        position: relative;
        text-align: justify;
        width: 90vw;
        height: 10vh;
        margin-top: 1.5vh;
        font-size: 0.8rem;
    }

    .carouselHero{
        margin-top:-70vh;
        margin-left: 8vw;
        max-width: 70vw;
        height: 50vh;
        display: grid;
        place-content: center;
        box-shadow:  inset 0em 0em 1em rgba(0, 0, 0, 0.5);
    }

    .carousel-inner{
        padding: 1%;
        border-radius: 0 0 12vw 12vw;
    }

    .botonHero{
        margin-top: 25.5vh;
        margin-left: 20vw;
        font-family: 'Roboto black';
    }

    .social{
        display: flexbox;
        gap: 1vw;
        width: 8vw;
        height: auto;
        margin-top: -25vh;
        margin-left: 89vw;
        padding: auto;
        border-radius: 2vw 0 0 2vw;
        background-color: rgb(0,142,3);
        box-shadow: 1vw 1vw 1vw rgb(129, 129, 129);
    }

    .social >a{
        margin-left: -2vw;
        color: rgb(195, 240,64);
        font-size: 5vw;
    }
    
}



@supports(object-fit: cover) {
    img {
        width: 100%;
        min-height: 48vh;
        max-height: 70vh;
        object-fit: cover;
    }
}