:root{
    --green1: #C3F040;
    --green2: #88BC07;
    --green3: #08AC2B;
    --green4: #078E22;
    --green5: #234A42;
    --blanco: #FFFFFF;
    --gris: #F1F1F1;
}

.fixed-bottom{
    margin-bottom: 4vh;
}

/* ////// navbar ////// */
.navbar{
    max-height: 100px;
    background-color: var(--blanco);
}

.navbar .container-fluid{
    padding: 1% 4%;
    display: flex;
    justify-content: space-between;
}

.navbar .navbar-brand{
    font-family: 'Kusanagi';
    color: var(--green5);
    font-size: 2vw;
    left: 5%;
}

.navbar .collapse{
    position: absolute;
    right: 3%;
}

.navbar .navbar-brand:hover{
    color: var(--green5)
}

.navbar .navbar-brand:visited{
    color: var(--green3);
}

.navbar-collapse .nav-link{ 
    font-family: 'Roboto regular';
    font-size: 22px;
    font-weight: 500;
    -webkit-text-stroke: .3px var(--green5);
    transition: 0.3s;
}

.nav-link:hover{
    font-weight: 700;
    color: var(--green3);
    text-decoration: none;
    -webkit-text-stroke: var(--green3);
    border-bottom: solid 5px var(--green3);
    padding-bottom: 2px;
}
/* ////// hero section ////// */
.hero{
    position: relative;
    background-color: var(--blanco);
    top: -49px;
}
/* /// herobackground /// */
.st0{
    z-index: -1;
    background-color: #E4E4E4;
    fill: #E4E4E4;
}

.square-round{
    width: 30vw;
    height: 30vw;
    border-radius: 15%;
    position: absolute;
    background-color: var(--green1);
    right: -60px;
    top: 190px;
    z-index: 0;
}

.line-bg{
    width: 30vw;
    border: solid 3px var(--green3);
    position: absolute;
    top: 220px;
    right: 10vw;
    z-index: 0;
}
/* /// hero-content /// */
.hero-content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    z-index: 10;
    position: relative;
    top: 0;
}

.engage-quote{
}

.brandName{
    font-family:'Roboto black';
    color: rgb(0,142,3);
    font-size: 4vw;
}

.quote{
    color: rgb(129, 129, 129);
    font-family: 'Roboto regular';
    font-size: 1.3vw;
    width: 300px;
}

.botonHero{
    font-family: 'Roboto black';
    top: 15vh;
}

.botonHero .btn-success{
    padding: 0.5vw 3vw;
    background-color: var(--green5); 
    border-radius: 2vw;
    color: var(--green1);
    font-size: 1vw;
}

.carouselHero{
    background-color: transparent;
    min-width: 400px;
    min-height: 600px;
    max-width: 600px;
    max-height: 800px;
    z-index: 0;
}

.carousel-inner{
    position: absolute;
    border-radius: 20px;
    width: 100%;
    object-fit: fill;
}

.car-btn-controls{
    position: absolute;
    width: 40vw;
    font-size: 30px;
    color: var(--green3);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.car-btn-controls .fa-circle{
    font-size: 8px;
    position: absolute;
    top: 17px;
    right: 379px;
}


@media screen and (min-width: 961px) {
    /* .navbar .navbar-brand{
        font-size: 2vw;
        padding-top: 1.5vh;
        padding-bottom: 1.5vh;
        padding-left: 0vw;
    }
    
    .navbar-collapse .nav-link{ 
        color: var(--green5);
        font-family: 'Roboto regular';
    }
    
    .navbar-collapse .nav-link:hover{ 
        color:var(--green3);
    }
    
    .nav-item{
        padding-right: 5vh;
    }
    
    .nav-link>a{
        padding-right: 2vw;
    }
    
    .hero{
        width: 100vw;
        height: 100vh;
        position: absolute;
    }
        
    .brandName{
        font-family:'Roboto black';
        color: rgb(0,142,3);
        padding-left: 5vw;
        padding-top: 30vh;
        margin-top: -10vh;
        
    }
    
    .quote{
        width: 30vw;
        height: 20vh;
        padding-left: 5vw;
        color: rgb(129, 129, 129);
        font-family: 'Roboto regular';
        background-color: transparent;
    }
    
    
    
    /* .botonHero{
        margin-top: -10vh;
        margin-left: 5vw;
        font-family: 'Roboto black';
    }*/
     
    /* .botonHero .btn-success{
        padding: 0.5vw 3vw;
        background-color: rgb(0,142,3); 
        border-radius: 2vw;
    } */
    
    /* .botonHero > a:hover{
        background-color: rgb(0,142,3);
        transform: scale(1.2);
    } */ 
}

@media screen and (max-width: 960px) and (min-width: 601px) {


    /* .navbar .navbar-brand{
        margin-left: 3vw;
        font-size: 2.2vw;
    }

    .hero{
        background-color: var(--blanco);
    }

    .hero-content{
        
    }

    .carouselHero{
        
    }

    .carousel-inner{
        
    }

    .brandName{
        position: relative;
        margin-left: -6vh;
        margin-top: -10rem;
        font-size: 5vw;
    }

    .social{
        position: absolute;
        z-index: 1;
        gap: 1vw;
        width: 5vw;
        height: auto;
        margin-top: -25vh;
        margin-left: 84vw;
        border-radius: 2vw 0 0 2vw;
        box-shadow: 1vw 1vw 1vw rgb(129, 129, 129);
    }

    .social>a{
        margin-left: -1rem;
        font-size: 1rem;
    }

    .quote{
        position: relative;
        width: 14rem;
        margin-top: 1vh;
        margin-left: -6vw;
        font-size: 1.3vw;
        text-align: justify;
    }

    .botonHero{
        margin-top: 4rem;
        margin-left: 33vw;
        font-family: 'Roboto black';
    }

    .botonHero >a{
        font-size: 3vw;
    } */
}

@media screen and (max-width: 600px) {

    /* .navbar{
        max-width: 100vw;
        border-radius: 0 0 5vw 0;
    }

    .navbar .navbar-brand{
        font-family: 'Kusanagi';
        color: var(--green1);
        font-size: 5vw;
        padding-top: 2.5vh;
        padding-bottom: 2.5vh;
        padding-left: 0vw;
    }

    .hero{
        position: absolute;
        
    }

    .brandName{
        margin-top: 5rem;
        position: relative;
        font-size: 1.5rem;
    }

    .quote{
        position: relative;
        text-align: justify;
        width: 90vw;
        height: 10vh;
        margin-top: 1.5vh;
        font-size: 0.8rem;
    }

    .carouselHero{
        margin-top:-70vh;
        margin-left: 8vw;
        max-width: 70vw;
        height: 50vh;
        display: grid;
        place-content: center;
        box-shadow:  inset 0em 0em 1em rgba(0, 0, 0, 0.5);
    }

    .carousel-inner{
        padding: 1%;
        border-radius: 0 0 12vw 12vw;
    }

    .botonHero{
        margin-top: 25.5vh;
        margin-left: 20vw;
        font-family: 'Roboto black';
    }

    .social{
        display: flexbox;
        gap: 1vw;
        width: 8vw;
        height: auto;
        margin-top: -25vh;
        margin-left: 89vw;
        padding: auto;
        border-radius: 2vw 0 0 2vw;
        background-color: rgb(0,142,3);
        box-shadow: 1vw 1vw 1vw rgb(129, 129, 129);
    }

    .social >a{
        margin-left: -2vw;
        color: rgb(195, 240,64);
        font-size: 5vw;
    } */
    
}

@supports(object-fit: cover) {
     img {
        width: 100%;
        max-height: 500px;
        object-fit: cover;
    } 
}