:root {
    --green1: #C3F040;
    --green2: #88BC07;
    --green3: #08AC2B;
    --green4: #078E22;
    --green5: #234A42;
    --blanco: #FFFFFF;
    --gris: #F1F1F1;
}

.productsSection {
    position: absolute;
    width: 100vw;
    height: auto;
    display: grid;
    margin-top: 100vh;
}

.modal-body{
    display: flexbox;
    justify-content: center;
    align-items: center;
}
.vidModal{
    display: grid;
    place-content: center;
}

iframe{
    width: 50vw;
    height: 50vh;
}

.vidQuote{
    display: grid;
    place-content: center;
    margin: 2% 15%;
    text-align: justify;
    max-width: 70%;

}

.vidForm{
    margin:2% 15%;
}

/** Background waves **/
.wavesBg {
    margin-top: -10vh;
    left: 0vw;
    border-top: 300px solid var(--green3);
    overflow: hidden;
    line-height: 0;
}

.wavesBg svg {
    position: relative;
    display: block;
    width: 100vw;
}

.custom-shape-divider-top {
    position: absolute;
    top: -10vh;
    left: -6vw;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top svg {
    position: relative;
    width: calc(100vw + 1.3px);
    height: 650px;
}

.custom-shape-divider-top .shape-fill {
    fill: var(--green4);
}

/** ····················· **/

/** PRODUCTS SECTION **/
.productsWrapper {
    width: 100vw;
    height: 100vh;
    margin-top: -15vh;
    position: absolute;
    display: grid;
    grid-template-columns: 1.5fr 2fr;
}

/**info left section**/
.infoGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.iconInfoProduct {
    margin-top: 15vh;
    width: 18vw;
    height: 13vh;
    border-radius: 0 60px 60px 0;
    background-color: var(--green3);
}

.iconImg {
    margin-top: -17.5vh;
    margin-left: 10vw;
    height: auto;
    width: 70px;
    object-fit: contain;
}

.infoTitle1 {
    margin-top: 5vh;
    margin-left: 7vw;
    color: var(--green1);
    font-size: 3vw;
    font-weight: lighter;
}

.infoTitle2 {
    margin-top: -2.7vh;
    margin-left: 7vw;
    color: var(--green1);
    font-family: 'Roboto regular';
    font-size: 3.5vw;
    font-weight: 700;
}

.infoText {
    margin-top: 5vh;
    margin-left: 7vw;
    text-align: justify;
    margin-right: 7vw;
    font-size: 1vw;
    color: var(--gris);
}

.infoButton .btnInfo {
    margin-top: -2.5vh;
    margin-left: 7.5vw;
    padding: 0.5vh 3vw;
    border-radius: 50px;
    background-color: #234A42;
    color: var(--green1);
    font-family: 'Roboto regular';
    font-weight: 600;
    font-size: 1vw;
}

.infoButton .btnInfo:hover {
    background-color: var(--green5);
    transform: scale(1.1);
    color: #C3F040;
}

/***********************/
/**cards right section**/
.cardsGrid {
    padding-right: 100px;
    display: grid;
    grid-gap: 20px;
}

.grid-item {
    background-color: transparent;
    border: 3px solid transparent;
    border-radius: 43px;
    height: 56.4vh;
    text-align: center;
    box-shadow: 1vw 1vw 2vw rgba(1, 1, 1, 0.5);
}

.grid-item:hover {
    border: 3px solid var(--green2);
}

.grid-item>img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 40px;
}

.infoCard {
    position: relative;
    height: 20vh;
    width: auto;
    margin-top: -12.2vh;
    padding: 2.5vh 2.5vw;
    border-radius: 40px;
    background-color: var(--blanco);
}

.infoCardTitle {
    text-align: start;
    font-size: 1.2vw;
    font-weight: 700;
    color: var(--green3);
}

.infoCardText {
    color: grey;
    font-size: 0.8vw;
    text-align: justify;
}

.infoCard .btn-success {
    position: absolute;
    background-color: var(--green3);
    border: none;
    margin-top: 1vh;
    font-size: 0.8vw;
    font-weight: 700;
    padding: 0.2vh 1.5vw;
    border-radius: 100px;
    z-index: 1;
}

.infoCard .btn-success:hover {
    background-color: var(--green3);
    transform: scale(1.1);
}

/***************************/
/** FIN PRODUCTS SECTION **/

@media (min-width: 961px) {

    /***### SVG BG SECTION ###***/
    .wavesBg {
        border-top: 300px solid var(--green3);
    }

    .wavesBg svg {
        margin-top: -10rem;
        position: absolute;
    }

    .custom-shape-divider-top svg {
        height: 500px;
    }

    /***### FIN SVG BG SECTION ###***/
    /********************************/
    /*** grid ***/
    .productsWrapper {
        grid-template-columns: 50vw 50vw;
    }

    /*** end grid ***/
    /***### INFO LEFT SECTION ###***/
    .iconInfoProduct {
        width: 10rem;
    }

    .iconImg {
        margin-left: 5rem;
    }

    .infoTitle1 {
        margin-top: -5rem;
        margin-left: 17vw;
        text-align: start;
        font-size: 2.5rem;
    }

    .infoTitle2 {
        text-align: start;
        font-size: 2.5rem;
        margin-top: -1rem;
        margin-left: 17vw;
    }

    .infoText {
        margin-top: 1rem;
        margin-right: 2rem;
        margin-left: 4.5rem;
        text-align: justify;
        font-size: 1rem;
        padding: 2vh 5vh 10vw 5vw;
    }

    .infoButton .btnInfo {
        font-size: 1rem;
    }

    /***###FIN INFO LEFT SECTION###***/
    /***###########################***/
    /***### Cards section ###***/

    .cardsGrid {
        display: grid;
        margin-top: -1rem;
        grid-template-columns: repeat(auto-fill, minmax(210px, 0.45fr));
        padding: 2vh 1vw 2vh 0vw;
        place-content: center;
    }

    .infoCardTitle{
        font-size: 1.5rem;
    }

    .infoCardText {
        font-size: 0.5rem;
    }

    .infoCard .btn-success{
        margin-left: -1vw;
    }
}

@media screen and (min-width: 601px) and (max-width: 960px) {

    /***### SVG BG SECTION ###***/
    .wavesBg {
        margin-top: -27rem;
        border-top: 150px solid var(--green3);
    }

    .wavesBg svg {
        position: absolute;
        margin-top: 14rem;
    }

    .custom-shape-divider-top svg {
        display: none;
        position: relative;
        margin-top: 0.7rem;
        height: 200px;
        z-index: 0;
    }

    /***### FIN SVG BG SECTION ###***/
    /********************************/
    /*** grid ***/
    .productsWrapper {
        display: grid;
        grid-template-columns: 1fr;
        padding: 2rem;
        margin-top: 35rem;
    }

    /*** end grid ***/
    /***### INFO LEFT SECTION ###***/
    .iconInfoProduct {
        margin-left: -2rem;
        margin-top: -40rem;
        background-color: var(--green4);
        width: 7rem;
    }

    .iconImg {
        margin-left: 1rem;
    }

    .infoTitle1 {
        margin-top: -5rem;
        text-align: end;
        font-size: 2rem;
    }

    .infoTitle2 {
        text-align: end;
        font-size: 2rem;
    }

    .infoText {
        margin-top: 1rem;
        margin-left: 5rem;
        margin-right:5rem;
        text-align: justify;
        font-size: 0.8rem;
    }

    .infoButton .btnInfo {
        margin-top: 5rem;
        font-size: 1rem;
    }

    /***###FIN INFO LEFT SECTION###***/
    /***###########################***/
    /***### Cards section ###***/

    .cardsGrid {
        display: grid;
        margin-top: -25rem;
        grid-template-columns: repeat(auto-fit, minmax(300px, 0.5fr));
        padding: 2rem;
    }

}

/** RESPONSIVE **/
@media screen and (max-width: 600px) {

    /***### SVG BG SECTION ###***/
    .wavesBg {
        position: absolute;
        border-top: 300px solid var(--green3);
    }

    .wavesBg svg {
        margin-top: 0rem;
        width: 100vw;
        object-fit: cover;
    }

    .custom-shape-divider-top svg {
        display: none;
        position: relative;
        width: calc(100% + 1.3px);
        height: 400px;
        margin-top: 0vh;
        z-index: 0;
    }

    .productsWrapper {
        margin-top: -2vh;
        padding: 0.5rem;
        display: grid;
        grid-template-columns: 1fr;
    }

    /***### FIN SVG BG SECTION ###***/
    /********************************/
    /***### INFO LEFT SECTION ###***/
    .infoGrid {
        display: grid;
        grid-template-columns: 1fr;
    }

    .iconInfoProduct {
        margin-left: -0.5rem;
        margin-top: -3vh;
        width: 25vw;
        background-color: var(--green5);
    }

    .iconImg {
        margin-left: 2vw;
        width: 50px;
    }

    .infoTitle1 {
        margin-top: -12vh;
        margin-right: 1rem;
        text-align: end;
        font-size: 2rem;
    }

    .infoTitle2 {
        margin-top: -2vh;
        margin-right: 1rem;
        text-align: end;
        font-size: 2rem;
    }

    .infoText {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 1vh;
        font-size: 0.8rem;
    }

    .infoButton .btnInfo {
        margin: 1rem;
        font-size: 1rem;
    }

    /***###FIN INFO LEFT SECTION###***/
    .cardsGrid {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 1rem;
        padding: 1rem;
    }

    .grid-item>img {
        width: 520px;
        height: auto;
        object-fit: cover;
        border-radius: 40px;
    }

    .infoCard {
        padding: 1.5rem 2rem;
    }

    .infoCardTitle {
        font-size: 1rem;
    }

    .infoCardText {
        font-size: 0.7rem;
    }

    .infoCard .btn-success {
        margin-top: -1.5rem;
        font-size: 1rem;
        padding: 0 1.5em;
    }

}