:root{
    --green1: #C3F040;
    --green2: #88BC07;
    --green3: #08AC2B;
    --green4: #078E22;
    --green5: #234A42;
    --blanco: #FFFFFF;
    --gris: #F1F1F1;
}


.wpButton {
    z-index: 99;
    width: 60px;
    height: 60px;
    margin-left: 3vw;
    margin-bottom: 3vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: rgb(37, 211, 102);
    border-radius: 50%;
    
}

.wpButton::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 0.5vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: rgb(37, 211, 102);
    -webkit-animation: pulsation1 4s ease infinite;
            animation: pulsation1 4s ease infinite;
    z-index: -1;
}

.wpButton::after {
    content: "";
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 0.7vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: rgb(37, 211, 102);
    z-index: -10;
}

.wpButton a {
    position: absolute;
    text-decoration: none;
    color: white;
    font-size: 40px;
    margin-bottom: 18px;
    margin-left: -18px;
    z-index: 1;
}

.wpButton a:hover{
    color: var(--green1);
}

@media screen and (max-width: 600px) {
    .wpButton::after{
        margin-top: 1vh;
    }
}

@keyframes pulsation1 {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1;
    }

    70% {
        -webkit-transform: scale(3);
                transform: scale(3);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 0;
    }
}

@-webkit-keyframes pulsation2 {
    0%, 20% {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 0.4;
    }

    100% {
        -webkit-transform: scale(3);
                transform: scale(3);
        opacity: 0;
    }
}

@keyframes pulsation2 {
    0%, 20% {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 0.4;
    }

    100% {
        -webkit-transform: scale(3);
                transform: scale(3);
        opacity: 0;
    }
}